<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Create a Chat</h3>
    <br>
    <hr>
    <form action="/chats" method="post">
        <input type="text" placeholder="Sender" name="from">
        <br>
        <br>
        <textarea name="msg" id="" cols="30" rows="10" placeholder="write your message here"></textarea>
        <br>
        <br>
        <input type="text" name="to" placeholder=" Reciver">
        <br>
        <br>
        <button>Submit</button>


    </form>
</body>
</html>